.game_container {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: url('../../core/images/main-game-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.question_title {
    text-align: center;
    padding: 15px 30px;
    max-width: 500px;
    border: 3px solid goldenrod;
    border-radius: 20px;
    background-color: transparent;
    color: white;
}

.options_container {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.option {
    padding: 15px 20px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    border: 3px solid goldenrod;
    cursor: pointer;
    transition: opacity 0.3s ease;
    background-color: transparent;
    color: white;
}

.option > span {
    color: goldenrod;
}

.option:hover {
    opacity: 0.7;
}

.help_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: transparent;
    color: white;
}

.help {
    padding: 15px 30px;
    border: 3px solid goldenrod;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.help:hover {
    opacity: 0.7;
}

.round_container {
    color: white;
}

.round_amount {
    color: white;
    border: 3px solid goldenrod;
    border-radius: 20px;
    padding: 15px 30px;
}